body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/assets/easel_large.png");
  background-position: center;
  z-index: -1;
}

#canvas-container {
  position: absolute;
  width: 256px;
  height: 256px;
  inset: 0;
  margin: auto;
  transform: translate(4px, -56px);
}

#canvas-container canvas {
  position: absolute;
  border: 1px solid gray;
}
