body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("assets/easel_large.png");
  background-position: center;
  z-index: -1;
}

#upload-image-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: sans-serif;
  margin: 10px;
  cursor: pointer;
}
#upload-image-button .plus {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.plus img {
  width: 24px;
}
#upload-image-button p {
  margin: 0;
}

#download {
  all: unset;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: none;
}
#download.active {
  display: block;
  animation: fade-in 0.5s forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#canvas-container {
  position: absolute;
  width: 256px;
  height: 256px;
  inset: 0;
  margin: auto;
  transform: translate(4px, -56px);
}

#canvas-container canvas {
  position: absolute;
  user-select: none;
}

#slider-event-target {
  position: absolute;
  inset: 0;
  margin: auto;
  height: calc(1.2 * 256px);
  width: calc(1.2 * 256px);
  transform: translate(calc(4px), calc(-56px));
  z-index: 5;
  user-select: none;
  cursor: w-resize;
  display: none;
}
.slider-active #slider-event-target {
  display: block;
}

#slider-bar {
  height: 100%;
  width: 2px;
  background-color: #f5f7f6;
  position: absolute;
  transition: opacity 0.5s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-active #slider-bar {
  opacity: 1;
}

#slider-handle {
  width: 15px;
  height: 40px;
  border-radius: 7px;
  background-color: lightgray;
  border: 2px solid gray;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider-handle::after {
  content: "";
  display: block;
  width: 2px;
  height: 60%;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

#monet {
  position: absolute;
  width: 300px;
  display: block;
  right: max(-65px, calc(50vw - 500px));
  bottom: -100px;
  transition: transform 300ms;
}
#monet img {
  width: 100%;
}
#thought-bubble {
  opacity: 0;
  position: absolute;
  top: -195px;
  left: -140px;
  transform-origin: bottom right;
}
#thought-bubble img {
  width: 300px;
}
#thought-canvas {
  position: absolute;
  top: 45px;
  left: 91px;
}
#thought-bubble.show {
  animation: show-bubble 0.5s forwards;
}
#thought-bubble.hide {
  animation: hide-bubble 0.5s forwards;
}

@keyframes show-bubble {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes hide-bubble {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
